
# Ignorar archivos de configuración específicos del servidor
wp-config.php

# Ignorar el archivo de registro de errores de PHP
error_log

# Eliminacion de archivo .ddev
.ddev

# Ignorar archivos .sql
*.sql

# Ignorar archivos .log
*.log
