
# Ignorar archivos de configuración específicos del servidor
wp-config.php

# Ignorar el archivo de registro de errores de PHP
error_log

# Eliminacion de archivo .ddev
.ddev

# Eliminacion de archivo de configuracion ddev
wp-config-ddev.php

# Eliminar archivo .log 
*.log

pizzeriaHorebsDB
exports
export_wp_database_full
.vscode
.venv
pizzeriaHorebsDB
analytics/